@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #0A1128;
}

* {
    box-sizing: border-box;
   
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 305px;
    margin: 50px auto;
    background: #e8edfd;
    padding: 20px;
    border-radius: 20px;
}

.calculator {
    width: 270px;
}

.container h1 {
    text-align: center;
}

.display {
    font-size: 1.5em;
    width: 100%;
    text-align: right;
}

.button {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: rgba(128, 128, 128, 0.507);
}

.name {
    text-align: center;
    color: white;
    font-style: italic;
    padding-top: 370px;
}

.swal-text {
    font-size: 1.5rem;
    color: rgb(177, 39, 39);
}

@media (max-width: 800px) {
    .container {
        max-width: 304px;
    }

    .calculator {
        width: 266px;
    }

    .name {
        padding-top: 0px;
        margin-top: -25px;
    }

    .display {
        font-size: 1.7rem;
    }
    
    .name {
        margin-top: 150px;
    }
}

@media (max-width: 350px) {
    .container {
        max-width: 273.6px;
    }

    .calculator {
        width: 239.4px;
    }

    h1 {
        margin-top:  -4px;
        margin-bottom: 3px;
        font-size: 120%;
    }

    .name {
        margin-top: 90px;
    }
}